In [6]:
my_set = set()

In [7]:
my_set.add(1)

my_set

{1}

In [8]:
my_set.add(2)

my_set

{1, 2}

In [9]:
my_set.clear()

Other Operations:

In [22]:
new_set = {1,2,3}

new_set

{1, 2, 3}

In [23]:
copy_set = new_set.copy()
copy_set.add(4)

copy_set

{1, 2, 3, 4}

Difference Method:

In [25]:
copy_set.difference(new_set)

{4}

Difference Update:

In [27]:
set_1 = {1,2,3}
set_2 = {1,4,5}

set_1.difference_update(set_2)

set_1

{2, 3}

Intersection:

In [28]:
s1 = {1,2,3}
s2 = {1,2,4}

s1.intersection(s2)

{1, 2}

In [29]:
s1

{1, 2, 3}

In [30]:
s1.intersection_update(s2)

In [31]:
s1

{1, 2}

Isdisjoint:

In [32]:
new_set1 = {1,2}
new_set2 = {1,2,4}
new_set3 = {5}

new_set1.isdisjoint(new_set2)

False

In [33]:
new_set1.isdisjoint(new_set3)

True

Is subset:

In [34]:
new_set1.issubset(new_set2)

True

Issuperset:

In [35]:
new_set2.issuperset(new_set1)

True

symmetric difference:
- All of the elements that are exactly in one of the sets

In [36]:

new_set1.symmetric_difference(new_set2)

{4}

union of two sets

In [37]:
new_set1.union(new_set2)

{1, 2, 4}